* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: lightgray;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  font-family: arial;
}

#volunteer_search_home {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background-color: gray;
  cursor: pointer;
}

#volunter_search_page{
  display: flex;
}

/* #search{
 flex-direction: column;
} */

#search_input{
  flex-direction: row;
}

.volunteerCard {
  border-radius: .5rem;
  height: 400px;
  width: 80%; 
  margin: 0 auto;
  box-shadow: 2px 2px 5px grey; 
}

.volunteerCard__image
 {
  border-top-right-radius: .5rem;
  border-top-left-radius: .5rem;
  overflow: hidden;
  background-color: white;
  height: 150px;
  width: 100%; 
}

.volunteerCard__content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.volunteerCard__description {
  background-color: white;
  border-radius: .5rem;
  padding: 10px;
  font-size:0.8rem;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  cursor: pointer;
}

h2 input {
  display: flex;
}

main {
  flex-grow: 1;
}

/*

*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: lightblue;
}

.text_input {
  width: 150px;
}
