* {
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: lightgray;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  font-family: arial;
}

#volunteer_search_home {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background-color: gray;
  display: grid;
  place-content: center;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: lightblue;
}

.text_input {
  width: 150px;
}

nav{
  display: flex;
  margin-top: 1em;
  justify-content: space-between;
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
}

button{
  border: none;
  text-align: center;
  padding: .5em 1em;
  border-radius: 5px;
  background-color: rgb(95, 182, 211);
  font-weight: bold;
  cursor: pointer;
}

button:hover{
  background-color: lightblue;
}