/***************************************
CORE STYLING (*, HTML, BODY)
***************************************/

* {
  padding: 0;
  margin: 0;
}

:root {

  /* utilities */

  /* color variables */
  --box-shadow-color: gray;
  --bg-color: lightgray;
  --nav-color: #DAD3FF;
  --nav-color-hover: #e9e5ff;
  --main-color: white;
  --volunteer-search-color: gray;
  --volunteer-card-color: white;
  --footer-color: #DAD3FF;

  /* border radii */
  --border-radius-m: 0.5rem;

  /* font size */
  --font-size-s: .8rem;
  --font-size-m: 1rem;
  --font-size-l: 1.4rem;
}

html,
body {
  background-color: var(--bg-color);
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  font-family: arial;
}

/***************************************
NAVIGATION STYLING
***************************************/

nav {
  background-color: var(--nav-color);
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav__list-item {
  cursor: pointer;
  margin-right: 10px;
}

.nav__list-item:hover {
  background-color: var(--nav-color-hover);
}

/***************************************
MAIN SECTION STYLING
***************************************/

main { 
  width: 100%; 
  background-color: var(--main-color);
  flex-grow: 1;
}

/***************************************
HOME PAGE STYLING
***************************************/

#page__home {
  margin: 20px auto;
  width: 250px;
  height: 250px;
  background-color: var(--volunteer-search-color);
  cursor: pointer;
}

.card__title {
  text-align: center;
  font-size: var(--font-size-l);
  cursor: pointer;
}

/***************************************
VOLUNTEER LIST PAGE STYLING
***************************************/

.page__volunteer-list {
  display: flex;
  flex-direction: column;
}

.header {
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

.search_input{
  flex-direction: row;
}

.text_input {
  width: 150px;
}

.volunteerCard {
  border-radius: var(--border-radius-m);
  height: 400px;
  width: 80%; 
  margin: 20px auto;
  box-shadow: 2px -2px 8px var(--box-shadow-color); 
}

.volunteerCard__image
 {
  border-top-right-radius: var(--border-radius-m);
  border-top-left-radius: var(--border-radius-m);
  overflow: hidden;
  background-color: white;
  height: 150px;
  width: 100%; 
}

.volunteerCard__content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.volunteerCard__description {
  background-color: var(--volunteer-card-color);
  border-radius: var(--border-radius-m);
  padding: 10px;
  font-size: var(--font-size-s);
}

.volunteerCard__skills {

}

.volunteerCard__skills__label {
  font-weight: bold;
}

/***************************************
VOLUNTEER DETAIL PAGE STYLING
***************************************/



/***************************************
FOOTER STYLING
***************************************/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--footer-color);
}